/*.err
/*.log
/.ant-targets-build.xml
/.classpath.properties
/.idea
/.ivy.xml.swp
/.metadata
/.settings
/.svn-commit.tmp.swp
/build.properties
/common
config/.service.properties.swp
/lib
/logs
/nbproject
nbproject/private
/samples
src/main/resources/locale/messages_[!!-~]zh_HK.properties
src/test/java/com/active/services/invite/api/v1/soap/InviteServiceSOAPTestCase.java
src/test/resources/logback-test.out.xml
/target
*.iml
.DS_Store
/version.properties